// Specific CSS for your home-page

.logo-crypto {
  height: 50px;
  width: 50px;
}

.card {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
