<div class="footer-container">
    <div class="ps-4 pt-5">
        <%= link_to "GitHub repository", "https://github.com/PierreAnders/Wallets", class: "external-link", :target => "_blank"  %>
    </div>
</div>
