<div class="footer-container">
    <div class="ps-4">
        <%= link_to "https://github.com/PierreAnders/Wallets", class: "external-link", :target => "_blank" do %>
        <%= image_tag 'github-mark-white.svg', class:"logo-github" %>
        <% end %>
    </div>
</div>
