.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  color: rgb(0, 0, 0);
  background-color: #8f8f8f;
  border: none;
  // margin-top: 10px;
  // padding-top: 5px;
  // padding-bottom: 5px;
  // padding-left: 15px;
  // padding-right: 15px;
  // border-radius: 10px;
  font-size: 14px;
}
