.small-button {
  text-decoration: none;
  color: #626262;
  font-size: 14px;
}
.small-button:hover {
  color: rgb(75, 75, 75);
  transition-duration: 0.2s;
}

.form-button-input {
  background-color: #111111;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: solid;
  border: #ffffff;
  text-align: center;
  width: 96%;
  outline: none;
}

.form-button-input:active {
  background-color: #111111;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: solid;
  border: #ffffff;
  text-align: center;
  width: 96%;
}

.grey-button {
  color: white;
  background-color: rgb(75, 75, 75);
  border: none;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  font-size: 14px;
}

.grey-button:hover {
  background-color: rgb(40, 40, 40);
  transition-duration: 0.2s;
}

.crypto-link {
  text-decoration: none;
  color: white;
}

.crypto-link:hover {
  color: rgb(75, 75, 75);
  transition-duration: 0.2s;
}

#crypto_name {
  background-color: #111111;
  color:#757575;
  border: solid;
  border-color: rgb(75, 75, 75);
  border-width: 0.05rem;
  border-radius: 5px;
  padding: 2px;
}

#crypto_address {
  background-color: #111111;
  color: white;
}
