.footer-container {
  background-color: #1d1d1d4b;
  height: 80px;
  margin-top: 50px;
  display: flex;
  text-align: end;
}

.external-link {
  text-decoration: none;
  color: #979797;
  font-size: 14px;
}

.external-link:hover {
  color: rgb(184, 184, 184);
  transition-duration: 0.2s;
}

.logo-github {
  width: 25px;
  height: 25px;
  opacity: 0.5;
  margin-top: 30px;
}

.logo-github:hover {
  opacity: 0.75;
}
