.form-container {
  margin: 0 auto;
  text-align: center;
}

@media (min-width:481px) {
  .form-container { width: 481px; }
}

.form-cellule {
  margin: 20px;
  border: solid;
  border-color: rgb(75, 75, 75);
  border-width: 0.05rem;
  border-radius: 10px;
  text-decoration: none;
}

.form-cellule:hover {
  border-color: rgb(156, 156, 156);
}

.form-title {
text-decoration: none;
color: white;
font-size: 18px;
}

// .form-title:hover {
//   color: rgb(75, 75, 75);
//   transition-duration: 0.2s;
// }
