.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: #1D1D1D;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-link {
  color: rgb(116, 110, 159);
}

.navbar-toggler-icon {
  border-color: rgb(108, 101, 160);
}

.navbar-toggler {
  color: rgb(108, 101, 160);
  border-width: 0.5;
}
