// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/buttons";
@import "components/form";
@import "components/footer";
@import "pages/index";

body {
  background-color: #111111;
  color: #ebebeb;
  font-size: 14px;
  min-height:100vh;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}
.container-portfolio {
  background-color: #1D1D1D;
  padding: 20px;
  border-radius: 10px;

}

.container-portfolio-box {
  background-color: #1D1D1D;
  border-radius: 10px;
  margin-bottom: 22px;
}

.flex-fill {
  flex:1 1 auto;
}

.justify-text {
  text-align: justify;
}

#query {
  width: 350px;
}
