// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/buttons";
@import "components/form";
@import "components/footer";
@import "pages/index";


body {
  background-color: #111111;
  color: #ebebeb;
  font-size: 14px;
  min-height:100vh;
}

#id {
  color: #111111;
}


h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.container-portfolio {
  background-color: #1D1D1D;
  padding: 20px;
  border-radius: 10px;
}

.container-portfolio-box {
  background-color: #1D1D1D;
  border-radius: 10px;
  margin-bottom: 22px;
}

.flex-fill {
  flex:1 1 auto;
}

.justify-text {
  text-align: justify;
}

.query-nfts {
  width: 350px;
}

.bar-chart {
  position: relative;
  height: 200px;
  width: 100%;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3f51b5;
}

.bar-1 {
  height: 70%;
}

.bar-2 {
  height: 40%;
}

.bar-3 {
  height: 60%;
}

.bar-4 {
  height: 30%;
}

a {
  text-decoration: none;
}
