<h1>Historique de transactions</h1>
<table>
  <tr>
    <th>Adresse émetteur</th>
    <th>Adresse destinataire</th>
    <th>Valeur</th>
    <th>Hash de la transaction</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.sender_address %></td>
      <td><%= transaction.receiver_address %></td>
      <td><%= transaction.value %></td>
      <td><%= transaction.transaction_hash %></td>
    </tr>
  <% end %>
</table>
